$title : #fff;
$title2: #fefefe;
$bg: #5474FD;
$placeholder: #999;
$search: #dadada;
$default: #e8e8e8;

%josefinSans-700 {
  font-family: 'JosefinSans-Bold', sans-serif;
  font-weight: 700;
}

%josefinSans-400 {
  font-family: 'JosefinSans-Regular', sans-serif;
  font-weight: 400;
}

%aleo-400 {
  font-family: 'Aleo-Regular', sans-serif;
  font-weight: 400;
}